{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}

{{!-- Navigation --}}
{{!-- {{> "navigation"}}  --}}

{{! Everything inside the #author tags pulls data from the author }}
<section class="author-page">
{{#author}}
    <section class="author-area">
        {{#if cover}}
            <header class="main-header author-head">
                <figure>
                    <img src="{{ cover }}" alt="">
                </figure>

                <div class="blurred"></div>
            </header>
        {{/if}}

        <section class="author-meta">
            
            {{#if image}}
                <figure>
                    <img src="{{ image }}" alt="">
                </figure>
            {{/if}}

            {{#if bio}}
                <h3>{{ bio }}</h3>
            {{/if}}

            {{#if url}}
                <a href="{{ url }}">{{ url }}</a>
            {{/if}}
        </section>

    </section>

    <section class="author-profile inner">
        {{#if image}}
        <figure class="author-image">
            <div class="img" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></div>
        </figure>
        {{/if}}
        <h1 class="author-title">{{name}}</h1>
        <h2 class="author-bio">{{bio}}</h2>
        <div class="author-meta">
            {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
            {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
            <span class="author-stats"><i class="icon-stats"></i> {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>
        </div>
    </section>
{{/author}}

    {{! The main content area on the homepage }}
    <main class="author-posts" role="main">

        {{! The tag below includes the post loop - partials/loop.hbs }}
        {{!-- {{> "loop"}} --}}
        {{#foreach posts}}
            <div class="uk-width-1-1 gt-main-section lt-gt">
                <div class="wrapper-1240">
                    <section class="latest-gt-themes uk-grid">
                        <section class="uk-width-1-3 lt-post-item">
                            <article class="article" data-uk-scrollspy="{cls:'uk-animation-scale-up', repeat: true}">
                                
                                <section class="image-section">
                                    {{#if image}}
                                        <a href="{{ url }}"><img src="{{ image }}" alt=""></a> 
                                    {{/if}}
                                </section>

                                <div class="lt-content">
                                    <h2><a href="{{ url }}">{{ title }}</a></h2>
                                    <p class="description">
                                        {{excerpt words="15"}}
                                    </p>

                                    {{!-- Set type of theme --}}
                                    <aside class="type">
                                        {{#has tag="free"}}<strong><a href="{{ @blog.url }}/tag/free/">Free</a></strong>{{/has}}
                                        {{#has tag="premium"}}<strong><a href="{{ @blog.url }}/tag/premium/">Premium</a></strong>{{/has}}
                                    </aside>

                                    <!-- This is the container enabling the JavaScript -->
                                    <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">

                                        <!-- This is the button toggling the dropdown -->
                                        <button class="uk-button"><i class="uk-icon-ellipsis-v"></i></button>

                                        <!-- This is the dropdown -->
                                        <div class="uk-dropdown uk-dropdown-small uk-dropdown-flip">
                                            <ul class="uk-nav uk-nav-dropdown">
                                                <li><a href="">Preview</a></li>
                                                <li><a href="">Download</a></li>
                                                <li><a href="">Purchase</a></li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>

                                <div class="clearfix"></div>
                            </article>

                        </section>

                    </section>
                </div>
            </div>

        {{/foreach}}

        {{!-- Footer --}}
        {{> "modals"}} 
    </main>
</section>